<?xml version="1.0"?>
<robot name="robot1">

  <!-- world frame -->
  <link name="world"/>

  <!-- base link -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.4"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- FIXED joint -->
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
